.table{
  width: 100%;
  max-width: 600px;
  /* border: 1px solid black; */
  text-align: center;
}
.thead{
  background-color: #222020;
    color: white;
}
.thList{
  padding: 6px;
  /* border: 1px solid black; */
}
.tdList{
  padding: 6px;
  /* border: 1px solid black; */
}
tr:nth-child(2n) {
  background-color: rgba(168, 168, 168, 0.5);
}